<!DOCTYPE html>
<html lang="cs">
<head>
	<meta http-equiv="Content-language" content="cs" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> IAPP - {{ page.title }} ({{ page.desc}}) </title>
    <link rel="stylesheet" type="text/css" href={{ media_url }}/{{ css_path }} />
    <meta name="description" content="{{ page.desc }}" />
</head>

<body>
<center>
<div id=window>
	<div id=head-top>

	</div>
	<div id=head-content>
		<img src="{{ media_url }}/{{ logo_path }}" class=head_logo>  
		<h1 class=head_title> {{ name }} </h1>
        <h2 class=head_slogan> {{ page.desc }} </h2>
		<nav>
		</ul>
            {% for url in main_menu %}
                <li{% ifequal curent url.url %} class="active"{% endifequal %}> <a href="/{{ url.url }}/" id=nav>{{ url.title }}</a> </li>
            {% endfor %}
    </ul>
		</nav>
	</div>
	<div id=content>        

        <header><H3> {{ page.title }} </H3></header>

        <sidemenu>
            <ul class=sidemenu>
            {% for sub in page.sub_menu %}
                <li id=sidemenu_pol> <a href="/{{ sub.url }}/"> {{ sub.title }} </a></li>
            {% endfor %}
            </ul>
        </sidemenu>

        <article> {{ page.text | safe}} </article>

	</div>
	<div id=footer>
		<footer>
		{{ footer_text | safe }}
		</footer>
	</div>
</div>
</center>
</body>
</html>